* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: "Inter", sans-serif;
  }
 
  nav {
    background:transparent;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    height: 70px;
    margin-left: 8px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 20px;
    font-size: larger;
  }
  
  .nav-links a {
    color: red;
    text-decoration: none;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color:red;
    margin: 5px;
  }
  .responsiveimg{
    width: 100%;
    height:auto;
  }
  
  @media screen and (max-width: 420px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: block;
    }
  
    .nav-active {
      display: flex;
      flex-direction: column;
      align-items: left;
      
    }
  }
 
  .responsiveimg{
    width: 100%;
    height:auto;
  }
  
  #main-heading{
    font-size: 3rem;
    font-weight: bolder;
    color: orange;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }











#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

}
.card {
  background-color:orange;
  padding: 10px 10px ;
  margin:  10px 10px 10px 10px;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.8);
  
}
.card:hover{
transform: scale(1.07);
}
.card h2 {
  margin: 0;
  font-size: 24px;
  color: red;
}

.card p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  color: black;
  font-weight: bolder;
 
  
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-date,
.card-time,
.card-category,
.card-description {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-button {
  
  padding: 5px 10px;
  background-color: black;
  color:white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}












.footer{
  background:#191919;
  padding:4px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  font-weight: bolder;
  }
  
  .footer .row{
  width:100%;
  margin:0% 0%;
  padding:0.6% 0%;
  color:white;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:white;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:white;
  }
  
  .footer .row ul{
  width:100%;
      }
  
  .footer .row ul li{
  display:inline-block;
  margin:15px 15px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  .footer .row a i:hover{
    transform: scale(1.8);
    
  }

  
  @media (max-width:720px){
  .footer{
  text-align:center;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  margin:0% 3%;
  text-align:center;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }